USE [MyCompany]
GO
/****** Object:  UserDefinedTableType [dbo].[EmployeeIdTable]    Script Date: 3/20/2026 3:54:30 PM ******/
CREATE TYPE [dbo].[EmployeeIdTable] AS TABLE(
	[EmployeeId] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](64) NOT NULL,
	[RoleId] [tinyint] NOT NULL,
	[DepartmentId] [tinyint] NOT NULL,
	[ProjectId] [smallint] NOT NULL,
	[StartDate] [date] NULL,
	[TerminationDate] [date] NULL,
	[SysStartTime] [datetime] NOT NULL,
 CONSTRAINT [PK_EmployeeId] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Employees_View]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Employees_View]
AS
SELECT * FROM dbo.Employees
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [tinyint] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](32) NOT NULL,
	[SysStarTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [smallint] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](64) NOT NULL,
	[BudgetAmount] [decimal](18, 0) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[SysStartTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](32) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[SysStartTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_SysStartTime]  DEFAULT (getdate()) FOR [SysStarTime]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_SysStartTime]  DEFAULT (getdate()) FOR [SysStartTime]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_SysStartTime]  DEFAULT (getdate()) FOR [SysStartTime]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_SysStartTime]  DEFAULT (getdate()) FOR [SysStartTime]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Projects]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Roles]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeById]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetEmployeeById]
	@EmployeeId INT
AS
BEGIN
	SELECT * 
	FROM dbo.Employees
END
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeByIds]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetEmployeeByIds]
	@EmployeeIds dbo.EmployeeIdTable READONLY
AS
BEGIN
	SELECT * 
	FROM @EmployeeIds eids
	JOIN dbo.Employees e ON e.EmployeeId = eids.EmployeeId
END
GO
/****** Object:  StoredProcedure [dbo].[GetEmployees]    Script Date: 3/20/2026 3:54:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetEmployees]
AS
BEGIN
	SELECT * 
	FROM dbo.Employees
END
GO
